extends layout

block content
    each post, index in posts
        div.feed-item
            div.feed-item-header
                div
                    img(src=post.author.avatar)
                div= post.author.username
            div.feed-item-image
                img(src=post.imageUrl)
            div.feed-item-footer
                strong.feed-item-footer-spaced
                    = post.author.username
                span= post.caption
                h6= ta.ago(post.createdAt)

